<header id="header" class="big-name">
		<div class="myname"><h1>CAO VAN QUYEN</h1></div>
		<!-- <hr style="color: #44A2C0;"> -->
	</header><!-- /header -->
<div class="container">
		<!-- main content -->
		<div class="main-content">
			<div class="intro">
				<h3>Introduction</h3>
				<ul>
					<li>Third-year student at University Of Science, Information Techonogy Dept.</li>
					<li>Major in Software Engineering - Focus on Web and Mobile App Development</li>	
				</ul>
					
			</div>
			<div class="hard-skill">
				<h3>Hard-skill</h3>
				<ul>
					<li>Html. Css, Javascript, Backbone.js, Angular.js, SASS, BOOTRAP, JQUERY, AJAX</li>
					<li>OOP, Design Partern, Test</li>
					<li>PHP, MSQL, NODE.JS, XAMP SERVER, AWS, Laravel, Symfony</li>
					<li>DEVOOPS, Git</li>
					<li>DESIGN, PHOTOSHOP, ILLUSTRATOR</li>
				</ul>
				
			</div>
				
			<div class="soft-skill">
				<h3>Soft-skill</h3>
				<ul>
					<li>Intermediate skill of communication, reading and writting in English </li>
					<li>Smart, active, enthusiasm</li>
					<li>Good at teamwork, leadership, time-management</li>
					<li>Research on new trends, technology</li>

				</ul>
				
			</div>
			<div class="experience">
				<h3>Experience</h3>
				<ul>
					<li>Two year in web app development</li>
					<li>Three month in real envirnment at Media Company</li>
					<li>Complete many project as ecommerce-wesite, news website</li>
				</ul>
				
			</div>
			<div class="project">
				<h3>Project</h3>
				<ul>
					<li>Ecommercer Website HaiLua</li>
					<li>Fashion Shop Online</li>
					<li>Hotel Management System Online</li>
					<li>Personal Project</li>
					<li>Single Page App</li>
					<li>Real-time applications</li>
				</ul>
				

			</div>
		</div>
		<!-- end main content -->
	

	<!-- info right bar -->
	<div class="right-bar">
	  <div class="profile-img">
	  	<img src="profile.png" height="400" width="300" alt="">
	  </div>
	  <div class="contact">
	  	<h3>Contact</h3>
		<ul>
			<li>MSSV: 1312470</li>
			<li>Phone: 01653212274</li>
		</ul>
	  	
		<div class="social-icon">
			<span> <a href="https://www.facebook.com/cao.quyen.520"><img src="facebook.png" height="50" width="50" alt="facebook"></a> </span>
		<span> <a href="https://github.com/quyen91"><img src="github.png" height="50" width="50" alt="github"></a>  </span>
		<span> <a href=""><img src="twitter.png" height="50" width="50" alt="twitter"> </a></span>

		</div>
		
	  </div>
		
	</div>

</div>
<footer>
	
	<div id="copyright" style="padding-bottom:5px;"  ><p>Copyright ©2016 by QuyenVinhXuan, All Rights Reserved</p></div>
</footer>
